
footer {
    width: 100%;
    background-color:teal;
    position: fixed;
    bottom: 0;
    padding: 10px;
    display:block;
    overflow: visible;
}

.port-img {
    width: 100%;
    max-width: 150%;
    min-width: 50%;
    margin: 50px;
}

.port-txt {
    width: 100%;
    max-width: 150%;
    min-width: 50%;
    margin-left: 60px;
    margin-right: 60px;
}